:root {
    --primary-color: #ffffff;
    --light-background-color: #f5f4fa;
    --dark-background-color: #2f303a;
    --secondary-color: #212121;
    --text-color-light: #757575;
    --accent-color: #2196f3;
    --secondary-accent-color: #188CE8;
    --icons-color: #AFB1B8;
  }